.footer
    padding-top: 73px
    padding-bottom: 102px
    background-color: $black
    color: #fff
    &__in
        width: percentage(625/1000)
        display: inline-block
        padding-left: 70px
        vertical-align: top
    &__col
        display: inline-block
        width: percentage(300/625)
        vertical-align: top
    &__ttl
        +helv-th
        font-size: 24px
        font-weight: 400
        text-transform: uppercase
        margin-bottom: 22px
        line-height: 1
    &__bl
        margin-bottom: 15px
    &__subttl
        +helv-m
        font-size: 14px
        font-weight: 400
        color: $gold
    &__contacts
        margin-top: 40px
        
.facebook-widget
    display: inline-block
    
