//colors
$gold: #a59864

$red: #d50202
$l-red: #af1a1a
$d-red: #901313

$gray: #b5b5b5
$l-gray: #a6a6a6
$d-gray: #272425

$brown: #383430
$black: #191821

//breakpoints
$desktop-m: 1680
$desktop-s: 1366
$tablet: 1023
$mob-l: 767
$mob-m: 599
$mob-s: 439


+font(helvetica-th, helveticaneuecyr-thin)
+font(helvetica-l, helveticaneuecyr-light)
+font(helvetica-m, helveticaneuecyr-medium)
+font(helvetica-r, helveticaneuecyr-roman)
    
=helv-th
    font-family: "helvetica-th", sans-serif
=helv-l
    font-family: "helvetica-l", sans-serif
=helv-m
    font-family: "helvetica-m", sans-serif
=helv-r
    font-family: "helvetica-r", sans-serif

body
    +helv-l
    font-size: 14px
    line-height: 1.4
    color: $black
.wrapper
    max-width: 1000px
    margin: 0 auto
    +r($tablet)
        padding: 0 20px
.col-txt
    column-count: 3
    column-width: percentage(306/1000)
    column-gap: 40px
    +r($tablet)
        column-count: 1
    
.form
    padding: 25px 0
    margin-top: 10px
    vertical-align: bottom
    background-color: $gold
    text-align: center
    +r($mob-s)
        padding-left: 30px
        padding-right: 30px
    &_contact
        max-width: 625px
        +r($tablet)
            width: 100%
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%)
    &__in
        display: inline-block
        width: 100%
        max-width: 345px
        padding-top: 15px
        padding-bottom: 15px
        text-align: left
    &__ttl
        +helv-th
        text-transform: uppercase
        &_entry-popup
            font-size: 18px
            color: #fff
        &_contact
            font-size: 24px
    &__input
        padding: 10px
        margin-bottom: 5px
        width: 100%
        border: 1px solid #fff
        +helv-l
        font-size: 14px
        color: #808184
        resize: none
        appearance: none
    &__submit
        background-color: $l-red
        padding: 16px 65px
        border-radius: 2px
        +helv-m
        font-size: 14px
        text-transform: uppercase
        color: #fff
        appearance: none
.popup
    +vcenter
    z-index: 1000
    display: none
    &__btn
        display: block
        position: absolute
        opacity: 1
        &:hover
            opacity: 0.8
        .icon
            fill: #fff
            +r($mob-l)
                width: 1.5em
                height: 1.5em
        &_round
            right: 35px
            top: 32px
            width: 50px
            height: 50px
            background-color: transparent
            +r($mob-l)
                transform: scale(0.8)
                right: 10px
                top: 10px
            &_lg
                width: 100px
                height: 100px
                +r($tablet)
                    transform: scale(0.8)
                +r($mob-l)
                    transform: scale(0.5)
            
            
.icon-cancel-white-sm
    +s(cancel-white-sm)
    display: block
.icon-cancel-gold-sm
    +s(cancel-gold-sm)
    display: block

            
.popup-overlay.is-active
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 999
    background-color: rgba(0, 0, 0, 0.6)
    overflow: hidden