+font(helvetica-th, helveticaneuecyr-thin-webfont)
+font(helvetica-l, helveticaneuecyr-light-webfont)
+font(helvetica-m, helveticaneuecyr-medium-webfont)
+font(helvetica-r, helveticaneuecyr-roman-webfont)
    
=helv-th
    font-family: "helvetica-th", sans-serif
=helv-l
    font-family: "helvetica-l", sans-serif
=helv-m
    font-family: "helvetica-m", sans-serif
=helv-r
    font-family: "helvetica-r", sans-serif