---
title: Obolon
---
{% extends "layouts/_layout.html" %}

{% block content %}
    
    <!--begin header-->
	{% include "partials/_header.html" %}
    <!--end header-->
    
    <!--begin info-->
	{% include "partials/_info.html" %}
    <!--end info-->
    
    <!--begin map-->
	{% include "partials/_map.html" %}
    <!--end map-->
    
    <!--begin apartments-->
	{% include "partials/_apartments.html" %}
    <!--end apartments-->
    
    <!--begin functional-->
	{% include "partials/_functional.html" %}
    <!--end functional-->
    
    <!--begin developer-->
	{% include "partials/_developer.html" %}
    <!--end developer-->

    <!--begin footer-->
	{% include "partials/_footer.html" %}
    <!--end footer-->
    
{% endblock %}
