{% from "data/apartments.html" import menu, content %}

<section class="apart">
   
    <!--begin popup-->
	{% include "partials/popups/_plan.html" %}
    <!--end popup-->
    
    <div class="wrapper apart__wrapper">
        <!--begin menu-->
        <div class="apart-menu">
            {% for item in menu %}
            <div class="apart-menu__item">
               
                <!--begin title-->
                <div class="apart-menu__ttl">
                <span>{{ loop.index }}.</span>
                <span>{{ item.title }}</span>
                </div>
                <!--end title-->
                
                {% for i in item.buttons %}
                <button class="apart-menu__btn apart-menu__btn_{{ i.mod }} js-tab-link" {% if i.data == 'section' %} data-section="{{ loop.index }}" {% elseif i.data == 'rooms' %} data-rooms="{{ loop.index }}" {% endif %}>{{ i.txt }}</button>
                {% endfor %}
                
            </div>
            {% endfor %}
        </div>
        <!--end menu-->
        
        <div class="apart__in">
        
        {% for item in content %}
        <!--begin content-->
        <div class="apart-content js-tab-content" data-section="{{ item.section }}" data-rooms="{{ item.rooms }}">
            <div class="apart__col apart__col_l">
               
                <!--begin title-->
                <div class="apart__ttl" data-modal="js-modal-title">
                    {% for i in item.title %}
                    <div>{{ i }}</div>
                    {% endfor %}
                </div>
                <!--end title-->
                
                <!--begin types-->
                <div class="apart__types">
                    {% for i in item.types %}
                    <button class="apart__type js-tab-link-in" data-type="{{ loop.index }}" data-modal="js-modal-type">{{ i }}</button>
                    {% endfor %}
                </div>
                <!--end types-->
                
                <!--begin text-->
                <div class="apart__txt">
                   
                    <!--begin description-->
                    {% for i in item.desc %}
                    <div class="apart-content__desc js-tab-desc">
                    <p>{{ i }}</p>
                    </div>
                    {% endfor %}
                    <!--end description-->
                    
                </div>
                <!--end text-->
                
            </div>
            
            <div class="apart__col apart__col_m">
                
                <!--begin image-->
                {% for i in item.img %}
                <div class="apart-content__img js-tab-img js-popup-open" data-target-popup="apart" data-modal="js-modal-image">
                    <img src="img/{{ i }}" alt="">
                </div>
                {% endfor %}
                <!--end image-->
                
            </div>
            
            <div class="apart__col apart__col_r">
                
                <div class="apart-content__in">
               
                    <!--begin metrics-->
                    {% for i in item.metrics %}
                    <div class="apart__metrics js-tab-metrics">

                        <!--begin rooms-->
                        <ol class="apart__rooms apart__mini-col apart__mini-col_l" data-modal="js-modal-rooms">
                            {% for data in i %}
                            <li>{{ data.room }}</li>
                            {% endfor %}
                        </ol>
                        <!--end rooms-->

                        <!--begin sizes-->
                        <ul class="apart__sizes apart__mini-col apart__mini-col_r" data-modal="js-modal-sizes">
                            {% for data in i %}
                            <li>{{ data.size }}</li>
                            {% endfor %}
                        </ul>
                        <!--end sizes-->

                        <!--begin total-->
                        <div class="apart__total">
                            <span class="apart__mini-col apart__mini-col_l" data-modal="js-modal-total-key">
                                <span>{{ item.total.key }}</span>
                            </span>
                            <span class="apart__mini-col apart__mini-col_r" data-modal="js-modal-total-value">
                                <span>{{ item.total.value }}</span>
                            </span>
                        </div>
                        <!--end total-->

                        </div>
                        {% endfor %}
                    <!--end metrics-->

                    <!--begin links-->
                    <div class="apart__links">
                        <a href="something.pdf" download class="apart__link apart__link_red" data-modal="js-modal-link">Подробнее (скачать PDF)</a>
                        <a href="#" class="apart__link apart__link_black">Получить брошюру</a>
                    </div>
                    <!--end links-->
                
                </div>
                
            </div>
        </div>
        <!--end content-->
        {% endfor %}
        
        </div>
    </div>
</section>