<section class="dev" style="background-image: url(img/dev-bg.png)">
    <div class="wrapper">
       
        <!--begin logo-->
        <div class="dev-logo">
            <img src="img/dev-logo.png" alt="" class="dev-logo__img">
        </div>
        <!--end logo-->
        
        <!--begin text-->
        <article class="col-txt">
            <p>Obolon Residences – это еще один объект жилой недвижимости исключительного качества в портфеле Dragon-Ukrainian Properties & Development plc (DUPD), международного девелопера, акции которого котируются на Лондонской фондовой бирже.</p>
            <br />
            <p>Продажу квартир осуществляет ЗНВПИФ "Девелопмент" ООО "Драгон Эссет Менеджмент".</p>
            <br />
            <br />
            <p>DUPD создан инвестиционной компанией целью инвестирования в украинский рынок жилой и коммерческой недвижимости. DUPD уже инвестировал более $250  млн. в ряд проектов в Украине, среди которых коттеджный городок Green Hills, эксклюзивный клубный поселок Riviera Villas, сеть гипермаркетов «Новая линия» и компания Arricano, инвестирующая в объекты торговой недвижимости (торгово-развлекательные центры Skymall, «Район», «Проспект» (Киев), Sun Gallery (Кривой Рог), City Mall (Запорожье), Inter Mall (Симферополь) и другие).</p>
            <p>Dragon Capital – крупнейшая инвестиционная компания Украины, предоставляющая полный спектр инвестиционно-банковских и брокерских услуг для институциональных, корпоративных и частных клиентов. Основана в 2000 в Киеве. Контроль над Dragon Capital принадлежит ее менеджменту, миноритарным пакетом компании владеет Goldman Sachs, одна из крупнейших мировых инвестиционных компаний. Под управлением Dragon Capital находится инвестиционный портфель стоимостью около $0,5 млрд.</p>
        </article>
        <!--end text-->
    </div>
</section>