<div class="popup-overlay">
    <div class="popup entry-popup js-popup-entry">

        <!--begin popup button-->
        <button class="popup__btn entry-popup__btn js-popup-close">
            {{mixins.icon('cross')}}
        </button>
        <!--end popup button-->

        <!--begin popup form-->
        <form class="form form_entry" name="entry-form">

            <fieldset class="form__in">
                <legend class="form__ttl form__ttl_entry-popup">Записаться на просмотр</legend>
                <p>
                    <input type="text" name="name" placeholder="Введите имя" class="form__input">
                </p>
                <p>
                    <input type="text" name="emailphone" placeholder="Введите e-mail/телефон" class="form__input">
                </p>
                <p>
                    <textarea name="datetime" placeholder="Введите дату и время" class="form__input" rows="3"></textarea>
                </p>
            </fieldset>
                <p>
                    <input type="submit" value="Отправить" class="form__submit">
                </p>
        </form>
        <!--end popup form-->

    </div>
</div>