<div class="popup_lg">
    <div class="plan">
        <div class="plan__img">
            <img src="" alt="">
        </div>
        <div class="plan__in">
            <!--begin title-->
            <div class="plan__ttl">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--end title-->
            
            <!--begin metrics-->
            <div class="plan__metrics">
                
                <!--begin rooms-->
                <ol class="plan__rooms"></ol>
                <!--end rooms-->

                <!--begin sizes-->
                <ul class="plan__sizes"></ul>
                <!--end sizes-->

                <!--begin total-->
                <div class="plan__total"></div>
                <!--end total-->

            </div>
            <!--end metrics-->
            
        </div>
    </div>
</div>