{% set 
menu = [
	{
		title: 'Выберите секцию',
		buttons: [
		    {
		        txt: 'Секция 1',
		        mod: 'lg'
		    },
		    {
		        txt: 'Секция 2',
		        mod: 'lg'
		    }
		]
	},
	{
		title: 'Выберите кол-во комнат',
		buttons: [
		    {
		        txt: '1',
		        mod: 'sm'
		    },
		    {
		        txt: '2',
		        mod: 'sm'
		    },
		    {
		        txt: '3',
		        mod: 'sm'
		    },
		    {
		        txt: '4',
		        mod: 'sm'
		    },
		    {
		        txt: 'Пентхаус',
		        mod: 'lg'
		    }
		]
	}
] 
%} 

{% set 
content = [
	{
	    section: '2',
	    rooms: '4',
	    type: '1',
		title: ['секция 2', '4-комнатная'],
		types: ['Тип 1', 'Тип 1П'],
		desc: 'Квартира расположена на 3-8 и 19-21 этажах Секции 2. Окна выходят на запад, юг и восток.',
		img: 'plan.jpg',
		metrics: [
		    {
		        room: 'Холл',
		        size: '9,33 кв.м'
		    },
		    {
		        room: 'Кухня / Гостиная',
		        size: '42,33 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '15,54 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '16,06 кв.м'
		    },
		    {
		        room: 'Ванная',
		        size: '3,77 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '19,37 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '26,18 кв.м'
		    },
		    {
		        room: 'Ванная',
		        size: '5,44 кв.м'
		    },
		    {
		        room: 'Санузел',
		        size: '2,62 кв.м'
		    },
		    {
		        room: 'Кладовая',
		        size: '4,41 кв.м'
		    },
		    {
		        room: 'Коридор',
		        size: '5,38 кв.м'
		    },
		    {
		        room: 'Балкон',
		        size: '0,76 кв.м'
		    },
		    {
		        room: 'Балкон',
		        size: '0,79 кв.м'
		    }
		],
		total: {
		    key: 'Общая площадь',
		    value: '151,98 кв.м'
		}
	},
	
	{
	    section: '1',
	    rooms: '4',
	    type: '1P',
		title: ['секция 1', '4-комнатная'],
		types: ['Тип 1', 'Тип 1П'],
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit cum deleniti totam possimus perspiciatis et natus delectus fugiat nisi, sed sit, quam quidem doloremque hic animi praesentium. Rerum, quo obcaecati.',
		img: 'plan.jpg',
		metrics: [
		    {
		        room: 'Холл',
		        size: '9,33 кв.м'
		    },
		    {
		        room: 'Кухня / Гостиная',
		        size: '42,33 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '15,54 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '16,06 кв.м'
		    },
		    {
		        room: 'Ванная',
		        size: '3,77 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '19,37 кв.м'
		    },
		    {
		        room: 'Спальня',
		        size: '26,18 кв.м'
		    },
		    {
		        room: 'Ванная',
		        size: '5,44 кв.м'
		    },
		    {
		        room: 'Санузел',
		        size: '2,62 кв.м'
		    },
		    {
		        room: 'Кладовая',
		        size: '4,41 кв.м'
		    },
		    {
		        room: 'Коридор',
		        size: '5,38 кв.м'
		    },
		    {
		        room: 'Балкон',
		        size: '0,76 кв.м'
		    },
		    {
		        room: 'Балкон',
		        size: '0,79 кв.м'
		    }
		],
		total: {
		    key: 'Общая площадь',
		    value: '151,98 кв.м'
		}
	}
] 
%}  
