{% set 
benefits = [
	{
		txt: 'Консьерж-сервис',
		img: 'concierge.jpg',
		popup: 'js-popup-concierge',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Спортзал',
		img: 'gym.jpg',
		popup: 'js-popup-gym',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Конференц-комната',
		img: 'conference.jpg',
		popup: 'js-popup-conference',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Лаунж зона на крыше',
		img: 'lounge.jpg',
		popup: 'js-popup-lounge',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Детская комната',
		img: 'children.jpg',
		popup: 'js-popup-children',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Прачечная',
		img: 'laundry.jpg',
		popup: 'js-popup-laundry',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	},
	{
		txt: 'Студия дизайна',
		img: 'studio.jpg',
		popup: 'js-popup-studio',
		content: {
		    image: 'reception.jpg',
		    title: 'Неповторимый стиль жизни',
		    text: '<p>Самое главное для нас – обеспечить комфорт и безопасность наших жителей.</p>
            <br />
            <p>Наши сотрудники на высоком профессиональном уровне предоставят Вам следующие услуги:
                <ul>
                    <li>стирка и химчистка</li>
                    <li>услуги горничной</li>
                    <li>уход за детьми</li>
                    <li>ремонт обуви и одежды</li>
                    <li>транспортные услуги и аренда автомобиля с водителем</li>
                    <li>бронирование ресторанов</li>
                    <li>организация доставки</li>
                    <li>общие справочные услуги</li>
                </ul>
            </p>
            <br />
            <p>Сотрудники  reception  известят Вас о прибытии гостей и, получив Ваше личное подтверждение, проводят  их до лифта.</p>
            <br />
            <p>Круглосуточная охрана осуществляется высококвалифицированным персоналом посредством системы видеонаблюдения, с уважением</p>'
		}
	}
] 
%}
