.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
